/* Resume specific */
.letter {margin: auto;width: 8.5in;height: 11in;padding: 0.45in 0.55in;box-sizing: border-box;overflow: hidden;line-height: 1.5;background: white;}.letter a {text-decoration: none;color: inherit;}.letter .desc {margin-left: 5pt;border-left: 1px solid black;padding-left: 5pt;}.letter .devpost {background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 280.3 242"><path d="M133.7 76H118v90h14.7c31 0 45-18 45-45 0-30-12.8-45-44-45z"/><path d="M210.2 0h-140L0 121l70 121h140.2l70-121-70-121zm-77.5 195H89V47h45.8c42 0 73.3 20 73.3 74 0 51.8-37.4 74-75.3 74z"/></svg>');background-size: contain;background-repeat: no-repeat;height: 12pt;width: 12pt;margin-left: 2pt;}.letter .exp {position: relative;}.letter .exp::after {content: "(expected)";position: absolute;right: 0;top: 100%;}.letter b {font-weight: 500;}.letter p, .letter ul {margin: 0;}.letter ul {padding-left: 0;list-style: none;}.letter ul > li {padding-left: 12pt;background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="8" height="8"><circle fill="black" cx="3.5" stroke="black" stroke-width="0.5" cy="3.5" r="2.5"/></svg>');background-position: top 6px left;background-repeat: no-repeat;}.letter ul > li ul > li {background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="8" height="8"><circle fill="white" cx="3.5" stroke="black" stroke-width="0.5" cy="3.5" r="2.5"/></svg>');}.letter p, .letter li {font-weight: normal;font-style: normal;font-size: 11pt;text-align: justify;color: #3c3c3c;}
/* Resume atomic */
.text-center {text-align: center;}.flex-center {display: flex;align-items: center;}.dib {display: inline-block;}.ml10pt {margin-left: 10pt;}.mr3pt {margin-right: 3pt;}.mr8pt {margin-right: 8pt;}.mb1 {margin-bottom: 9pt;}.mb2 {margin-bottom: 5pt;}.mv2 {margin-top: 2.5pt;margin-bottom: 2.5pt;}.fw3 {font-weight: 300;}.fw5 {font-weight: 500;}.between {display: flex;justify-content: space-between;}.gg-underline {border-bottom: 1px solid black;}.italic {font-style: italic;}.f1 {font-size: 33pt;}.f2 {font-size: 13pt;}.f3 {font-size: 12pt;}.f1, .f2, .f3 {line-height: 1.1;}
/* Resume fonts */
.fira, .desc, .f1, .f2, .f3, .letter p, .letter li {font-family: 'Fira Sans', sans-serif;}@font-face {font-family: 'Fira Sans';src: local("Fira Sans Light"), url("https://code.cdn.mozilla.net/fonts/woff/FiraSans-Light.woff") format("woff");font-weight: 300;font-style: normal;}@font-face {font-family: 'Fira Sans';src: local("Fira Sans Regular"), url("https://code.cdn.mozilla.net/fonts/woff/FiraSans-Regular.woff") format("woff");font-weight: 400;font-style: normal;}@font-face {font-family: 'Fira Sans';src: local("Fira Sans Regular Italic"), url("https://code.cdn.mozilla.net/fonts/woff/FiraSans-RegularItalic.woff") format("woff");font-weight: 400;font-style: italic;}@font-face {font-family: 'Fira Sans';src: local("Fira Sans Medium"), url("https://code.cdn.mozilla.net/fonts/woff/FiraSans-Medium.woff") format("woff");font-weight: 500;font-style: normal;}@font-face {font-family: 'Fira Sans';src: local("Fira Sans Medium Italic"), url("https://code.cdn.mozilla.net/fonts/woff/FiraSans-MediumItalic.woff") format("woff");font-weight: 500;font-style: italic;}

a {
  text-decoration: none;
}

.mt-center {
  margin-left: 50%;
  transform: translateX(-50%);
  display: inline-block;
}

.resume-button {
  display: inline-block;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  color: white;
  background-color: rgba(0, 0, 0, 0.3);
  user-select: none;
  -moz-user-select: none;
  cursor: pointer;
}

.mw500 {
  max-width: 500px;
  margin: auto;
}

#party {
  visibility: hidden;
}

#resume {
  display: none;
}

.resume-button:hover {
  background-color: rgba(0, 0, 0, 0.6);
}

.mpv1 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.mpv1, .mv1 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.mx05 {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.inline-flex {
  display: inline-flex;
}

body {
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0;
}

* {
  box-sizing: border-box;
}

.f125rem {
  font-size: 1.25rem;
}

.white {
  color: white;
}

.dim {
  color: white;
}

.dim:hover {
  color: #BBBBBB;
}

.devpost {
  display: inline-block;
  fill: white;
}

.devpost > svg {
  height: 1.5em;
  margin-bottom: -3px;
}

.devpost:hover {
  fill: #BBBBBB;
}

.flex-container {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.flex-item {
  max-width: 400px;
}

.dark {
  background-color: rgba(0, 0, 0, 0.3);
}

.picture {
  width: 200px;
  height: 200px;
  margin-left: auto;
  margin-right: auto;
}

.picture {
  display: block;
  width: 200px;
  object-fit: cover;
  height: 200px;
  background-color: #FFFFFF;
  border-radius: 50%;
}
